[coalition_global_param]
# choix du mode de fonctionnement
# 
functionModeChoice = 8

[global_param]

# level = radius map
levelRadius = 1

# choix du mode de fonctionnement 0:evaluate, 1:viewgrid, 2:cellularmatrix,
# 3:testsom, 4:testsomsuperpixel, 5:testsomTSP, 6:opticalFlow, 7:stereoFixedWindow, 8:stereoBasedSPASM, 9:StereDLS 14:2-opt partical check, 15:2-opt local search   16  parallel emst
functionModeChoice = 16

utiliseThreads = true
useSeed = false
seedValue = 0
consoleoutput = true

# probaOperators contient les valeurs pour roulette wheel
probaOperators = 0.1,0.1,0.1,0.1,0.1,0.1,0.1

# level = radius matcher map
levelRadiusMatcher = 2

traceActive = true
traceReportBest = true
traceSaveSolutionFile = false

[local_search]

# faux s'il s'agit de partir de l'input comme solution pre-construite
# vrai si on construit a partir d'une initialisation aleatoire
constructFromScratchParam = true

# 0 marche aleatoire, 1 LS first improvement, 2 LS best improvement
localSearchType = 1

neighborhoodSize = 100
nbOfConstructAndRepairs = 1
nbOfInternalConstructs = 1
nbOfInternalRepairs = 200
#nbOfConstructAndRepairs = 1
#nbOfInternalConstructs = 1
#nbOfInternalRepairs = 0

[genetic_method]

# taille population
populationSize = 1

# nombre maximum de generations
generationNumber = 5

# algo memetic (parametres recherche locale surcharges)
MAneighborhoodSize = 100
MAnbOfInternalConstructs = 1
MAnbOfInternalRepairs = 2000

[test_som]
#0:som, 1:batch, 2:som_seg, 3:batch_seg, 4:batch_seg_sampling, 5:somTSP
testSom = 0
projectSuperPixelVoronoi = 1
drawSuperpixelContours = 1

[som_op_0]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.01
rInitial = 20
rFinal = 0.5
niter = 1
nGene = 300
modeCalcul = 0
buffered = 1

[som_op_batch]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.1
rInitial = 1.5
rFinal = 0.5
niter = 1
nGene = 100
modeCalcul = 1
buffered = 1

[som_op_seg]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.01
rInitial = 20
rFinal = 0.5
niter = 1
nGene = 100
modeCalcul = 2
buffered = 1

[som_op_batch_seg]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.1
rInitial = 1.5
rFinal = 0.5
niter = 1
nGene = 3
modeCalcul = 3
buffered = 0

[som_op_batch_seg_sampling]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.1
rInitial = 1.5
rFinal = 0.5
niter = 20
nGene = 5
modeCalcul = 4
buffered = 1

[som_op_tsp]
typeWaveAlpha = 0
alphaInitial = 1.0
alphaFinal = 0.01
rInitial = 100
rFinal = 0.5
niter = 1
nGene = 200
modeCalcul = 5
buffered = 1

[test_cellular]
#0: CenterTocenter, 1:Center, 2:Id
testCellular = 0

[ls_stochastic]
niter = 20
nGene = 5
modeCalcul = 0
buffered = 1

[ls_first]
niter = 20
nGene = 5
modeCalcul = 1
buffered = 1

[ls_best]
niter = 20
nGene = 5
modeCalcul = 2
buffered = 1

[active_objs]
obj_distr = 0
obj_length = 0
obj_sqr_length = 0
obj_cost = 0
obj_sqr_cost = 0
obj_cost_window = 1
obj_sqr_cost_window = 0
obj_smoothing = 0.25
obj_gd_error = 0


[calib_stereo]
pfm = 1
scaleFactor = 1
LRP = 2
contourThreashold = 50
countourRebuit = 0
costAnalyseThreasholod = 0
centerNeiThreashold = 8
paralleThreashold = 6



[test_stereoMatching_WindowFixed]
stereoRadiuSF = 2



[test_stereoMatching_SPASM]
stereoRadiuSS = 1


[test_stereoMatching_DLS]
stereoRadiuSD = 2

[test_2opt]
stepLocal2opt = 32
geneLocal2opt = 1
radiusSearchCells = 50



[input]
useDisparityMap = 1
#inputSourceImageLeft = venusL_groundtruth.pgm
inputSourceImageLeft = teddyL.png
#inputSourceImageRight = venusR.png
#inputDisparityImageGroundTruth = venusL_groundtruth.pgm

[param_1]
#fileGrid2DPoints = output.points
#fileGrid3DPoints = output3D.points
#fileGridOfColors = output3D.gridcolors
#statisticsFile = statistics.stats
#fileGrid2DPoints = outputTim.points
fileOutImageItself2DPoint = outputImageItself2D.points
fileOutImageItself2DColors = outputImageItself2D.gridcolors
fileOutImageItself3DPoint = outputImageItself3D.points
fileOutImageItself3DColors = outputImageItself3D.gridcolors
fileNnOutNoImage2DPoints = outputNnNoImage2D.points
fileNnOutNoImage2DColors = outputNnNoImage2D.gridcolors
fileNnOutNoImage3DPoints = outputNnNoImage3D.points
fileNnOutNoImage3DColors = outputNnNoImage3D.gridcolors
fileNnOutFromImage2DPoints = outputNnFromImage2D.points
fileNnOutFromImage2DColors = outputNnFromImage2D.gridcolors
fileNnOutFromImage3DPoints = outputNnFromImage3D.points
fileNnOutFromImage3DColors = outputNnFromImage3D.gridcolors
fileNnOutLinksItself2DPoints = outputNnLinksItself2D.points
fileNnOutLinksItself2DColors = outputNnLinksItself2D.gridcolors

fileSPColorValue = SPteddyL.colors
fileVRColorValue = BteddyL.colors

[param_2]
# Image parameters
scaleFactor = 8.0
baseLine = 0.16
focalDistance = 374.0
#focalDistance = 935.0
#focalDistance = 3740.0
disparityRange = 20
backgroundDisparity = 25
minMeshDisparity = 25

